html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5em;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
p {
  color: #8e959c;
}
a {
  color: #19a9e5;
}
a:hover {
  color: #1487b7;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button,
input {
  border: 1px solid;
  outline: none;
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::selection {
  background: #72d0eb;
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: #72d0eb;
  color: #ffffff;
  text-shadow: none;
}
.hidden {
  display: none;
}
.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
body.darkgrey {
  background: #1a232b;
}
body.grey {
  background: #f6f6f8;
}
body.midgrey {
  background: #3b424d;
}
.fullwidth {
  float: left;
  width: 100%;
  min-width: 1050px;
  height: 100%;
  clear: both;
  position: relative;
  z-index: 2;
}

.fullwidth.gray {
	background-color: #B0E0E6;
	/*background-color: #f6f6f8;*/
}

.central {
  margin: 0 auto;
  padding: 0 25px 25px 25px;
  width: 1000px;
  clear: both;
  position: relative;
  z-index: 2;
  background-color: white;
  height: 100%;
}

.central.vuc-list {
  width: 850px;
}

hgroup {
  float: left;
  width: 95%;
  margin: 0;
  padding: 0 0 0px 0;
  border-bottom: 1px solid #e6e6e8;
  position: relative;
}
hgroup.borderLess {
  border-bottom: none;
}
hgroup.margin {
  margin-bottom: 50px;
}
hgroup h1 {
  float: left;
  font-family: "FS Albert Web Bold", "Helvetica Neue", Arial, sans-serif;
  font-size-adjust: 0.49;
  font-weight: bold;
  font-style: normal;
  font-size: 4.5em;
  letter-spacing: -0.03em;
  line-height: 0.78em;
  color: #2f353e;
  width: 100%;
  margin: 10px 0 25px -4px;
}
hgroup h1.singleline {
  margin-bottom: 0;
}
hgroup h2 {
  font-size: 1.5em;
  margin-bottom: 25px !important;
  line-height: 1.4em;
  color: #adb3b9;
}

.central label {
	display: block;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #1a232b
}

.central input[type="text"],.central input[type="password"]
	{
	display: block;
	width: 463px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1.6em;
	border: 1px solid #c3cbd3;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 16px
}

.central .flush-block {
	display: block;
	margin: 0 0 16px 0
}

.central blockquote.flush-block {
	display: block;
	margin: 0 0 16px 10px;
}

.central .flush-block #customize-supported {
	position: relative;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 1.3em;
}

.central label.inline-label {
	display: inline-block;
	margin-left: 3px;
}

.central hr {
  float: left;
  width: 1000px;
  border: none;
  border-top: 1px solid #e0e5e9;
  height: 0;
  margin: 20px 7.5% 45px 0%;
}

#supported-attributes.hidden, #play-pause.hidden {
	display: none;
}

.button {
display: inline-block;
color: #fff;
padding: 12px 16px;
margin: 2px 0 0 0;
-khtml-border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-family: "Helvetica Neue",Arial,sans-serif;
font-size: 0.3em;
border: 1px solid #679b1f;
background: url('/vuc/img/button_back.png') top left repeat-x #b9dc2f;
text-shadow: 1px 1px #56821a;
vertical-align: 55%;
}

.button:hover, .button:focus {
	background-position: -300px 0
}

.button:active {
	background-position: top right;
	text-shadow: 0 -1px #456815;
	border-top-color: #547d19
}

.button.disabled {
	background: #ced2d5;
	text-shadow: 0 -1px #adb3b9;
	border-color: #adb3b9
}

